.content {
    &__holder {
        display: grid;
        grid-template-areas: "a1 a2";
        grid-template-columns: 1fr 0.7fr;
        height: calc(100vh - 140px);

        @media (max-width: 1170px) {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-areas: "a1"
                                 "a2";
        }
    }
    &__left-side {
        grid-area: a1;
    }
    &__right-side {
        grid-area: a2;
    }
    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-image: url("../../../assets/img/main/phone_converter.png");
        max-height: 500px;
    }
    &__title {
        font-size: 70px;
        line-height: 80px;
        color: #fff;

        @media (max-width: 600px) {
            font-size: 50px;
            line-height: 50px;
            text-align: center;
        }
        @media (max-width: 400px) {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }
    }
    &__description {
        color: #fff;
    }
    &__converter-holder {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        max-height: 350px;

        @media (max-width: 600px) {
            height: auto;
        }
    }
    &__converter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        background-color: #fff;
        width: 100%;
        height: 150px;
        border-radius: 15px;
        max-width: 900px;

        @media (max-width: 600px) {
            height: 250px;
        }
    }
}