<div class="content__holder">
    <div class="content__left-side">
        <h1 class="content__title">
            Your Ultimate Currency Converter Tool
        </h1>
    
        <div class="content__description">
            You can use this tool to quickly calculate the equivalent value of funds in different currencies. Just enter the amount, select the source currency and the currency you want to convert to, and get the result.
        </div>
    
        <div class="content__converter-holder">
            <div class="content__converter converter">
                <div class="converter__currency currency">
                    
                    <div class="currency__first-in">
                        <mat-form-field class="example-full-width">
                            <mat-label>Enter number</mat-label>
                            <input matInput type="number" [(ngModel)]="currencyValue_1" (ngModelChange)="convertCurrency('first-input')">
                        </mat-form-field>

                        <mat-form-field class="currency__select">
                            <mat-select [(ngModel)]="currency_1" (ngModelChange)="convertCurrency('second-input')">
                                <mat-option *ngFor="let cur of displayValues" [value]="cur.value">
                                {{cur.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                      
                    <div class="currency__changer">
                        <img src="../assets/img/main/change.png" (click)="converChange()" alt="">
                    </div>

                    <div class="currency__second-in">
                        <mat-form-field class="example-full-width">
                            <mat-label>Enter number</mat-label>
                            <input matInput type="number" [(ngModel)]="currencyValue_2" (ngModelChange)="convertCurrency('first-input')">
                        </mat-form-field>

                        <mat-form-field class="currency__select">
                            <mat-select [(ngModel)]="currency_2" (ngModelChange)="convertCurrency('second-input')">
                                <mat-option *ngFor="let cur of displayValues" [value]="cur.value">
                                    {{cur.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="content__right-side">
        <div class="content__image"></div>
    </div>
</div>