<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header__holder">

        <div class="header__left-side">
          <div class="header__logo">
            <img src="../assets/img/header/logo.png" alt="logo">
            <div class="header__text">Converter</div>
          </div>
        </div>

        <div class="header__right-side">
          <nav class="nav menu">
            <ul class="menu__list">
              <li class="menu__item"><a href="#">API</a></li>
              <li class="menu__item"><a href="#">Item</a></li>
              <li class="menu__item"><a href="#">Item</a></li>
            </ul>
          </nav>
  
          <div class="header__currency currency">
            <div class="currency__block">
              <img src="../assets/img/header/euro_mon.png" alt="EUR">
              <div class="currency__text">40₴</div>
            </div>
            <div class="currency__block">
              <img src="../assets/img/header/usd_mon.png" alt="USD">
              <div class="currency__text">36₴</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <app-convert></app-convert>

</div>