.wrapper {
    overflow-y: hidden;
    min-height: 100vh;
}

.content {
    padding: 40px 0 0 0;
}

.header {
    height: 100px;
    width: 100%;

    @media (max-width: 600px) {
        height: 200px;
    }
}