* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: url("assets/img/bg/bg.png");
    background-size: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
